<div class="page-header">

    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">

            <p>
                <strong>Name</strong>: <%= user.name %><br>
                <!-- <strong>id</strong>: <%= user._id %><br> -->
                <strong>email</strong>: <%= user.email %><br>

                <button class="delaccount btn btn-danger" type="delete">Delete Account</button>
                <a href="/profile/edit" class="updateaccount btn btn-info">Edit Account</a>
            </p>
               <!-- _________form for getting tweets by city_______________ -->
            <form class="" action="/api/tweets" method="get">
              <input type="text" name="city" placeholder="city"></input>
              <button class="submitBtn"type="submit" name="button">Search</button>
            </form>

            <div id="tList">
              <ul id="tweet-list">
              </ul>
              <!-- __this is populated from append down below. see $submitBtn.on('click') below__ -->
            </div>

            <div>
              <!-- ____this is getting saved favorites from DB________________ -->
              <h2>Favorites</h2>
              <ul id="fav-list">
                <% favorites.forEach(function(favorite) { %>
                  <li id="<%= favorite.id %>">
                    <span><%= favorite.text %></span>
                    <button class="delBtn">Del</button>
                  </li>
                <% }) %>
              </ul>

            </div>
                <!-- _______________________________________________________ -->
            <script type="text/javascript">
              var $submitBtn = $('.submitBtn')
              var $tweetList = $('#tweet-list')
              var $favList = $('#fav-list')
              var $input = $('input')

              // _______________________________________________________________
              // ______This is for the favorites delete button _________________
              $('body').on('click', '.delBtn', function(){
                var tweetId = $(this).parent().attr('id')

                $.ajax({
                  method: 'DELETE',
                  url: '/api/tweets/' + tweetId,
                }).done(function(data){
                  $('#' + tweetId).remove()
                })

              })

                // _____________________________________________________________
                //______This is for the favBtn to put in the favTweetLI above____
              $('body').on('click', '.favBtn', function() {
                // favorite button click event code here...
                var $favList = $('#fav-list')
                $.ajax({
                  method: 'POST',
                  url: '/api/tweets',
                  data: JSON.stringify({text: $(this).prev().text()}),
                  contentType: 'application/json',
                }).done(function(data){
                  console.log(data)
                  var favTweets = data.tweet.text
                  console.log(favTweets)

                    var $favTweetLI = $('<li>').attr('id', data.tweet._id)
                    $favTweetLI.append('<span>' + data.tweet.text + '</span>')
                    $favTweetLI.append('<button class="delBtn">Del</button>')
                    $favList.append($favTweetLI)

                })
              })

              // _______________________________________________________________
              //__this is for submit button for displaying tweets in tweetList.__
              $submitBtn.on('click', function(evt){
                var city = $input.val()
                evt.preventDefault()
                //make an ajax call to api/tweets using .get method
                $.ajax({
                  method: 'GET',
                  url: 'api/tweets',
                  data: {city},
                  contentType: 'application/json',
                  success: function (data){
                    //when data from ajax call comes back console.log it first.
                    console.log(data)
                    //empty the tweetlist.
                    $tweetList.empty()

                    var tweets = data.data.statuses
                    var tweetArray = [tweets]
                    // before rendering the results of the tweet search,
                    // create a new array BASED on the results, where each tweet's text replaces
                    // a URL with a LINK to that URL...


                    tweets.forEach(function(tweet) {
                      var $tweetLI = $('<li>')
                      $tweetLI.append('<span>' + tweet.text + '</span>')
                      $tweetLI.append('<button class="favBtn">Fav</button>')
                      $tweetList.append($tweetLI)
                    })
                  }
                });
                    console.log("clicked")
              })
              //________________________________________________________________
              //________This is for deleting user account from db.______________
              var $delAccount = $('.delaccount')
              $delAccount.on('click', function(evt){
                // evt.preventDefault()
                console.log(evt)
                var currentUserId = '<%= user._id %>'
                console.log(currentUserId);
                $.ajax({
                  method: 'DELETE',
                  url: `/users/${currentUserId}`
                }).done(function(data){
                  console.log(data)
                  window.location = window.location.origin + '/signup'
                })

                console.log('delete account button clicked')
              })

              //________________________________________________________________
              //____________This is for editing user account____________________
              var $updateAcct = $('.updateaccount')
              $updateAcct.on('click', function(evt){
                console.log(evt)
                var email = $input.val()
                var password = $input.val()
                var currentUserId = '<%= user._id %>'
                $.ajax({
                  method: 'PATCH',
                  url: `/users/${currentUserId}`
                }).done(function(data){
                  console.log(data)
                  window.location = window.location.origin + '/update'
                })
                console.log('update button clicked')
              })




            </script>
        </div>
    </div>
</div>
